<!DOCTYPE html>
<html lang="en">

{{> header }}

{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex ratione voluptatibus blanditiis, eligendi atque cumque consectetur officia repudiandae rem saepe porro ut rerum repellat fuga reiciendis consequuntur, eaque voluptatem? Dolorum!</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/capitan_america.png" alt="" class="img-thumbnail">
    </div>
</div>
{{> footer }}
</body>

</html>