<%- include('partials/head') %>

<div class="container">
    <div class="row">
        <div class="card p-4 mx-auto">
            <a href="/add-product" class="btn btn-primary btn-block btn-lg">
                Agregar Producto
            </a>
            <a href="/products/1" class="btn btn-primary btn-block btn-lg">
                Ver productos
            </a>
            <a href="/snomed/" class="btn btn-primary btn-block btn-lg">
                Snomed
            </a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>